:root {
  --primary-font: "Fredoka One", cursive;
  --secondary-font: "Lato", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}
p,
a {
  font-family: var(--secondary-font);
}
